<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.wanderphone.minesweep" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="SplashActivity" android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="MainActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="SelectActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="ServerCilentActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="HelpActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="AboutActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="RankingActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="SingleActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="InterneRankingActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="ServerActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="CilentActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="FightActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="RegisterActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="EasyRankActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="NormalRankActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="HardRankActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="TabRankActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
		<activity android:name="DeviceListActivityListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" 
                  android:screenOrientation="portrait"/>

	</application>
	
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.INTERNET">
  	</uses-permission>
  	<uses-permission android:name="android.permission.VIBRATE" />
  	<uses-permission android:name="android.permission.READ_PHONE_STATE">
  	</uses-permission>
	<uses-sdk android:minSdkVersion="1" />
	

</manifest> 